<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDECxDu2mLvuPMZaaakQnwQSrqRwt4D--E</string>
	<key>GCM_SENDER_ID</key>
	<string>657989015792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.michalvalkoun.shifts</string>
	<key>PROJECT_ID</key>
	<string>shifts-f6498</string>
	<key>STORAGE_BUCKET</key>
	<string>shifts-f6498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657989015792:ios:7c57292eb86b365c190a35</string>
</dict>
</plist>